<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="ConversionService.ConvService" behaviorConfiguration="mexBehaviour">
        <endpoint address="ConversionService" binding="basicHttpBinding" contract="ConversionService.IConvService"></endpoint>
        <endpoint address="ConversionService" binding="netTcpBinding" contract="ConversionService.IConvService"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:80/"/>
            <add baseAddress="net.tcp://localhost:8733/ConversionService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>